@using CMSGTechnical.Code
@using CMSGTechnical.Domain.Models
@using CMSGTechnical.Mediator.Dtos

<div class="basket">
    @foreach (var item in Basket.MenuItems)
    {
        <div class="basket-item">
            <div class="basket-item__info">
                <div class="basket-item__name">@item.Name</div>
                <div class="basket-item__price">@item.Price</div>
            </div>
            
            <div class="basket-item__actions">
                <button class="btn btn-primary btn-round" @onclick="() => AddItem(item)">+</button>
                <button class="btn btn-primary btn-round" @onclick="() => RemoveItem(item)">-</button>
            </div>
        </div>
    }
    
    <div class="basket-total">
        <div>Subtotal: @Basket.Subtotal</div>
        <div>Delivery: @Basket.DeliveryFee</div>
        <div><strong>Total: @Basket.Total</strong></div>
    </div>
</div>


@code {



    private BasketDto Basket { get; set; } = new();
    [CascadingParameter]
    private BasketService BasketService { get; set; } = default!;

    protected override void OnInitialized()
    {
        Basket = BasketService.Basket;
        BasketService.OnChange += (sender, args) =>
        {
            Basket = args.Basket;
            StateHasChanged();
        };
    }


    public async Task AddItem(MenuItemDto item)
    {
        await BasketService.Add(item);
    }

    public async Task RemoveItem(MenuItemDto item)
    {
        await BasketService.Remove(item);
    }


}
