@using CMSGTechnical.Code
@using CMSGTechnical.Components.Shared
@using CMSGTechnical.Domain.Models
@using CMSGTechnical.Mediator.Basket
@using CMSGTechnical.Mediator.Dtos
@using MediatR
@inherits LayoutComponentBase
@implements IDisposable

<div class="page">
    <CascadingValue TValue="BasketService" Value="@BasketService">
        <header class="top-row">
            <div class="top-row__inner px-4">
                <div class="top-row__title">CMSGTechnical Restaurant Delivery Platform</div>
                <div class="top-row__actions">
                    <button class="basket-toggle" type="button" @onclick="ToggleBasket" aria-expanded="@IsBasketOpen" aria-controls="basket-drawer">
                        <span class="basket-toggle__icon" aria-hidden="true"></span>
                        <span class="basket-toggle__label">Basket (@Basket.MenuItems.Count)</span>
                        <span class="basket-toggle__total">@Basket.Total.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-GB"))</span>
                    </button>
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>
            </div>
        </header>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>

        <button class="basket-drawer__scrim @(IsBasketOpen ? "is-open" : string.Empty)" type="button" @onclick="CloseBasket" aria-hidden="true"></button>
        <aside class="basket-drawer @(IsBasketOpen ? "is-open" : string.Empty)" id="basket-drawer" role="dialog" aria-label="Basket">
            <div class="basket-drawer__header">
                <div class="basket-drawer__title">Your basket</div>
                <button class="basket-drawer__close" type="button" @onclick="CloseBasket">Close</button>
            </div>
            <div class="basket-drawer__content">
                <BasketDisplay />
            </div>
        </aside>
    </CascadingValue>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code
{
    private BasketService BasketService { get; set; } = default!;
    private BasketDto Basket { get; set; } = new();
    private bool IsBasketOpen { get; set; }

    [Inject] private IMediator Mediator { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var basket = await Mediator.Send(new GetBasket(1));
        BasketService = new BasketService(Mediator, basket);
        Basket = BasketService.Basket;
        BasketService.OnChange += HandleBasketChange;
    }

    private void HandleBasketChange(object? sender, BasketChangedEventArgs args)
    {
        Basket = args.Basket;
        InvokeAsync(StateHasChanged);
    }

    private void ToggleBasket()
    {
        IsBasketOpen = !IsBasketOpen;
    }

    private void CloseBasket()
    {
        IsBasketOpen = false;
    }

    public void Dispose()
    {
        if (BasketService != null)
        {
            BasketService.OnChange -= HandleBasketChange;
        }
    }
}
